{% extends 'base.html.twig' %}

{% block title %}Add Funds{% endblock %}

{% block body %}

    <h1> Add funds </h1>

    <a href="{{ path('profile') }}" class="btn btn-primary">Go back</a>

    

{% endblock %}
